@font-face {
  font-family: 'Proxima Vara';
  src: url('../../public/fonts/Proxima-Vara.ttf') format('truetype');
}

:root {
  /* Fonts */
  --font-mono: 'Proxima Vara', serif,;

  /* Colors */
  --white-color: #ffffff;
  --red-color: #a61c21;
  --gold-color: #fddc5c;
  --black-color: #000000;
  --grey-color: #808080;

  /* Text colors */
  --text-color: #272727;
  --text-color-faded: #666;

  /* Other colors */
  --border-color: #ebeef0;

  /* Spacing */
  --spacing-mega: 32px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
}
